<ul class="share-buttons">
    <li>{{ .Site.Data.l10n.share.title }}</li>
    <li>
      <a class="icon-hacker-news" href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}"  onclick="window.open(this.href, 'hacker-news-share','width=580,height=350');return false;" title="{{ .Site.Data.l10n.share.hn }}"></a>
    </li>
    <li>
      <a class="icon-reddit" href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="{{ .Site.Data.l10n.share.reddit }}"></a>
    </li>
</ul>
