<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>stp5</title>
<link rel="stylesheet" type="text/css" href="/css/stp5.css" />
<link rel="me" href="https://hachyderm.io/@steeef" />
</head>

<body>
<div class="box">
    <img id="bgimg" src="/images/bg.jpg" />
    <div class="bar">
        <span class="menutext" id="logotext">
            <a href="/blog">blog</a>
        </span>
        <br /><br />
        <span class="menutext">
            <span class="menuitem">
                <a href="/about">about</a>
            </span>
        </span>
    </div>
</div>
</body>
</html>
